<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GuestBook</title>
</head>
<body>
<form method="post">
    Name :
    <input name="name"/>
    <br><br>
    Message :
    <br><br>
    <textarea name="message"> </textarea>
    <br><br>
    Rate: <select name=rate>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>
    <br><br>
    <input type="submit" value="Submit"/>
</form>
<tbody th:each="user : ${users}" th:remove="tag">
        <ul>
            <h4 th:text="'Name:' + ${user.getName()}"></h4>

            <h4 th:text="'Message:' + ${user.getMessage()}"></h4>

            <h4 th:text="'Rate:' + ${user.getRate()}"></h4>
            <hr>
        </ul>
</tbody>
        <th:block th:each="page : ${pages}">
            <a th:text="${page}" th:href="@{'/guestbook?page=' + ${page}}"></a>
        </th:block>
</body>
</html>