<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div id="login">
    <h3 class="text-center text-black-50 pt-5 ">Введіть данні про себе:</h3>
    <div class="container"
         style="background-color: gainsboro; border: 5px solid lightslategrey; border-radius: 10px; margin-top: 10px">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <div class="form-group">
                            <input type="text" hidden name="username" th:value="${username}"></input>
                            <label class="text-info">Введіть ім'я</label><br>
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="text-info">Прізвище:</label><br>
                            <input type="text" name="surname" id="surname" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="text-info">Введіть дату народження:</label><br>
                            <input type="date" name="birthDate"
                                   value="1920-01-01"
                                   min="1920-01-01" max="2003-01-01">
                        </div>

                        <div class="form-group">
                            <p align=left>Виберіть стать:<select name="gender">
                                <option th:each="gender : ${genders}" th:value="${gender}"
                                        th:text="${gender.name()}"></option>
                            </select>
                            </p>
                        </div>

                        <div class="form-group">
                            <p align="left">Виберіть місто:<select name="city">
                                <option th:each="city : ${citys}" th:value="${city}"
                                        th:text="${city.getName()}"></option>
                            </select>
                            </p>
                        </div>

                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Зареєструватись">
                        </div>
                        <div id="register-link" class="text-right">
                            <a href="/login" class="text-info">Увійти</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>>
