<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Enjoy your movie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <a class="btn btn-primary" style="background-color: #708090" href="/authors" role="button">Authors</a>
            <a class="btn btn-primary" style="background-color: #708090" href="/movies" role="button">Movies</a>
            <a class="btn btn-primary" sec:authorize="isAuthenticated()" style="background-color: #708090"
               href="/logout" role="button">Log out</a>
            <a class="btn btn-primary" sec:authorize="isAnonymous()" style="background-color: #708090" href="/login"
               role="button">Login</a>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <a class="navbar-brand" style="color: white">
                Movies Blog
            </a>
        </button>
    </nav>
</div>
<div class="container"
     style="background-color: #343a40; border: 5px solid lightslategrey; border-radius: 10px; margin-top: 10px">
    <h1 style="color: white">Movie details</h1>
    <table align="center" class="table table-borderless table-dark">
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>YEAR</td>
            <td>GENRE</td>
            <td>LANGUAGE</td>
        </tr>

        <tr>
            <td th:text="${movie.id}"></td>
            <td th:text="${movie.name}"></td>
            <td th:text="${movie.year}"></td>
            <td th:text="${movie.genre}"></td>
            <td th:text="${movie.language}"></td>
        </tr>
    </table>

    <h1 style="color: white">Authors</h1>
    <table align="center" class="table table-borderless table-dark">
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>GENDER</td>
        </tr>

        <tr th:each="author : ${authors}">
            <td th:text="${author.id}"></td>
            <td th:text="${author.name}"></td>
            <td th:text="${author.gender}"></td>
        </tr>
    </table>
</div>

<div class="container"
     style="background-color: #343a40; border: 5px solid lightslategrey; border-radius: 10px; margin-top: 10px; text-align: center">
    <h1 style="color: white">Comments</h1>
    <form method="post">
        <p align="center" style="color: white">
            Name :
        </p>
        <input name="username"/>
        <br><br>
        <p align="center" style="color: white">
            Comment :
        </p>
        <textarea name="comment"></textarea>
        <br><br>
        <p align="center" style="color: white">
            Rate :
        </p>
        <select align="center" name=rate>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br><br>
        <p><input class="btn btn-primary" type="submit" value="Submit"/></p>
    </form>
</div>
<tbody th:each="feedBack : ${feedBacks}">
<div class="container"
     style="background-color: #343a40; border: 5px solid lightslategrey; border-radius: 10px; margin-top: 10px; text-align: center">
    <ul>
        <h4 style="color: white" th:text="'Username: ' + ${feedBack.getUsername()}"></h4>

        <h4 style="color: white" th:text="'Comment: ' + ${feedBack.getComment()}"></h4>

        <h4 style="color: white" th:text="'Rate: ' + ${feedBack.getRate()}"></h4>
        <hr>
    </ul>
</div>
</tbody>
</body>
</html>