<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <a class="btn btn-primary" style="background-color: #708090" href="/contractor"
               role="button">Виконавці</a>
            <a class="btn btn-primary" style="background-color: #708090" href="/task" role="button">Завдання</a>
            <a class="btn btn-primary" sec:authorize="hasRole('CUSTOMER')" style="background-color: #708090"
               href="/customer/tasks" role="button">Мої завдання</a>
            <a class="btn btn-primary" sec:authorize="hasRole('CONTRACTOR')" style="background-color: #708090"
               href="/contractor/my-tasks" role="button">Мої завдання</a>
            <a class="btn btn-primary" sec:authorize="isAuthenticated()" style="background-color: #708090"
               href="/logout" role="button">Log out</a>
            <a class="btn btn-primary" sec:authorize="isAnonymous()" style="background-color: #708090" href="/login"
               role="button">Login</a>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <a class="navbar-brand" style="color: white">
                Сервіс замовлення послуг
            </a>
        </button>
    </nav>
</div>
<div class="container-fluid">
    <p align="center">
        <a href="/contractor/pdf" class="badge badge-info">Download PDF</a>
        <a href="/contractor/doc" class="badge badge-info">Download DOC</a>
        <a href="/contractor/excel" class="badge badge-info">Download EXCEL</a>
    <p align="center">
    <div class="row mt-3">
        <div class="col-md-3" th:each="contractor : ${contractors}">
            <div class="card">
                <div class="box" align="center">
                    <div class="img">
                        <img width="300" height="400"
                             src="https://cdn1.iconfinder.com/data/icons/freeline/32/account_friend_human_man_member_person_profile_user_users-512.png">
                    </div>
                    <h4><span th:text="${contractor.getName()}"> </span>
                        <span th:text="${contractor.getSurname()}"></span>
                    </h4>
                    <small><cite title="city"><span
                            th:text="${contractor.getCity().getName()}"></span>, Україна<i
                            class="glyphicon glyphicon-map-marker">
                    </i></cite></small>
                    <i class="glyphicon glyphicon-envelope"></i><span
                        th:text="${contractor.getAge()}"></span> років
                    <br/>
                    <i class="glyphicon glyphicon-gift"></i>Рейтинг <span
                        th:text="${contractor.getRate()}"></span> %
                    <br/>
                    <a class="badge badge-light" th:href="@{'/contractor/' + ${contractor.getId()} + '/show'}">Більше
                        інформації</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>