<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <a class="btn btn-primary" style="background-color: #708090" href="/contractor"
               role="button">Виконавці</a>
            <a class="btn btn-primary" style="background-color: #708090" href="/task" role="button">Завдання</a>
            <a class="btn btn-primary" sec:authorize="hasRole('CUSTOMER')" style="background-color: #708090"
               href="/customer/tasks" role="button">Мої завдання</a>
            <a class="btn btn-primary" sec:authorize="hasRole('CONTRACTOR')" style="background-color: #708090"
               href="/contractor/my-tasks" role="button">Мої завдання</a>
            <a class="btn btn-primary" sec:authorize="isAuthenticated()" style="background-color: #708090"
               href="/logout" role="button">Log out</a>
            <a class="btn btn-primary" sec:authorize="isAnonymous()" style="background-color: #708090" href="/login"
               role="button">Login</a>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <a class="navbar-brand" style="color: white">
                Сервіс замовлення послуг
            </a>
        </button>
    </nav>
</div>
<div class="container">
    <h1 th:if="${tasks.isEmpty()}" align="center">У вас відсутні завдання!</h1>
    <div class="card" th:if="${!tasks.isEmpty()}" >
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
            <tr>
                <th scope="col">Завдання</th>
                <th scope="col" width="120">Ціна</th>
                <th scope="col" width="200" class="text-right">Стан виконання</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td>
                    <figure class="media">
                        <div class="img-wrap"><img
                                src="https://miro.medium.com/max/4000/1*8ygFKYb0Yo6Hc-vnScGA9A.png"
                                class="img-thumbnail img-sm" style="width:80%"></div>
                        <figcaption class="media-body">
                            <h6 th:text="${task.getName()}" class="title text-truncate"></h6>
                            <dl class="param param-inline small">
                                <dt>Коротке описання:</dt>
                                <dd th:text="${task.getShortDescription()}"></dd>
                            </dl>
                            <dl class="param param-inline small">
                                <dt>Категорія:</dt>
                                <dd th:text="${task.getCategory().getName()}"></dd>
                            </dl>
                            <dl class="param param-inline small">
                                <dt>Дата виконання:</dt>
                                <dd th:text="${task.getDate()}"></dd>
                            </dl>
                        </figcaption>
                    </figure>
                </td>
                <td>
                    <div class="price-wrap">
                        <var class="price">
                            <span th:text="${task.getPrice()}">
                            </span>
                            <span> грн</span>
                        </var>
                    </div>
                </td>
                <td class="text-right">
                    <span th:text="${task.getIsDone()}"></span>
                </td>
            </tr>
            <tr>
        </table>
    </div>
</div>
</div>
</body>
</html>