<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Movies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <a class="btn btn-primary" style="background-color: #708090" href="/authors" role="button">Authors</a>
            <a class="btn btn-primary" style="background-color: #708090" href="/movies" role="button">Movies</a>
            <a class="btn btn-primary" sec:authorize="isAuthenticated()" style="background-color: #708090"
               href="/logout" role="button">Log out</a>
            <a class="btn btn-primary" sec:authorize="isAnonymous()" style="background-color: #708090" href="/login"
               role="button">Login</a>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <a class="navbar-brand" style="color: white">
                Movies Blog
            </a>
        </button>
    </nav>
</div>
<div class="container"
     style="background-color: #343a40; border: 5px solid lightslategrey; border-radius: 10px; margin-top: 10px">
    <table align="center" class="table table-borderless table-dark">
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>GENDER</td>
            <td>MOVIE COUNT</td>
            <td>LINK</td>
        </tr>

        <tr th:each="author : ${authors}">
            <td th:text="${author.id}"/>
            <td th:text="${author.name}"/>
            <td th:text="${author.gender}"/>
            <td th:text="${author.movieCount}"/>
            <td>
                <a class="badge badge-light" th:href="@{'/authors/' + ${author.id} + '/show'}">More details</a>
            </td>
        </tr>
    </table>
</div>
<div class="container">
    <p align="center">
        <a href="/authors/pdf" class="badge badge-info">Download PDF</a>
        <a href="/authors/doc" class="badge badge-info">Download DOC</a>
        <a href="/authors/excel" class="badge badge-info">Download EXCEL</a>
    <p align="center">
        <a class="btn btn-primary" style="background-color: #708090" href="/authors/create" role="button">Create new
            author</a>
    </p>
</div>
</body>
</html>
