<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            $("#submit").click(function () {
                var task = {};
                task["name"] = $("#name").val();
                task["category"] = $("#category").val();
                task["price"] = $("#price").val();
                task["date"] = $('#date').val();
                task["shortDescription"] = $("#shortDescription").val();

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "create-task",
                    data: JSON.stringify(task),
                    dataType: 'json',
                    success: function (data) {
                        $('#ajax').show();
                        $('#getName').text(data.name);
                        $('#getSurmane').text(data.surname);
                        $('#getCity').text(data.city);
                        $('#getAge').text(data.age);
                        alert("Завдання розміщенно! Знайдено рекомендованого виконавця!")
                        var id = data.id;
                    },
                    error: function (data) {
                        $('#ajax').hide()
                        alert("Завдання розміщенно, але рекомендованих виконавців поки що не знайдено")
                    }
                });
            });

        });
    </script>
</head>
<body>
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <a class="btn btn-primary" style="background-color: #708090" href="/contractor"
               role="button">Виконавці</a>
            <a class="btn btn-primary" style="background-color: #708090" href="/task" role="button">Завдання</a>
            <a class="btn btn-primary" sec:authorize="hasRole('CUSTOMER')" style="background-color: #708090"
               href="/customer/tasks" role="button">Мої завдання</a>
            <a class="btn btn-primary" sec:authorize="hasRole('CONTRACTOR')" style="background-color: #708090"
               href="/contractor/my-tasks" role="button">Мої завдання</a>
            <a class="btn btn-primary" sec:authorize="isAuthenticated()" style="background-color: #708090"
               href="/logout" role="button">Log out</a>
            <a class="btn btn-primary" sec:authorize="isAnonymous()" style="background-color: #708090" href="/login"
               role="button">Login</a>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <a class="navbar-brand" style="color: white">
                Сервіс замовлення послуг
            </a>
        </button>
    </nav>
</div>
<div class="container"
     style="background-color: lightgray; border: 5px solid lightslategrey; border-radius: 10px; margin-top: 10px">
    <div class="form-group">
        <label class="col-md-4 control-label" for="name">Назва завдання</label>
        <div class="col-md-4">
            <input id="name" name="name" type="text" placeholder="" class="form-control input-md">

        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="category">Виберіть категорію</label>
        <div class="col-md-4">
            <select id="category" name="category" class="form-control">
                <option th:each="category : ${categories}" th:value="${category.name()}"
                        th:text="${category.getName()}"></option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="price">Введіть ціну</label>
        <div class="col-md-2">
            <input id="price" name="price" type="text" placeholder="" class="form-control input-md">

        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="date">Введіть дату коли треба виконати завдання:</label><br>
        <div class="col-md-2">
            <input id="date" type="date" name="date" required
                   th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                   th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" max="2021-01-01">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="shortDescription">Введіть короткий опис</label>
        <div class="col-md-4">
            <textarea class="form-control" id="shortDescription" name="shortDescription"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-4">
            <button id="submit" type="submit" class="btn btn-success">Підтвердити</button>
        </div>
    </div>
</div>
<h1 align="center">Рекомендований виконавець:</h1>
<div class="row mt-3" style="justify-content: center">
    <div class="col-md-3" id="ajax" style="display: none">
        <div class="card">
            <div class="box" align="center">
                <div class="img">
                    <img width="300" height="400"
                         src="https://cdn1.iconfinder.com/data/icons/freeline/32/account_friend_human_man_member_person_profile_user_users-512.png">
                </div>
                <h4><span id="getName"> </span>
                    <span id="getSurmane"></span>
                </h4>
                <small><cite title="city" id="getCity"><span
                ></span>, Україна<i
                        class="glyphicon glyphicon-map-marker">
                </i></cite></small>
                <i class="glyphicon glyphicon-envelope" id="getAge"></i><span
            ></span> років
                <br/>
            </div>
        </div>
    </div>
</div>
</body>
</html>