<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #3498DB;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        button:hover, a:hover {
            opacity: 0.7;
        }
    </style>
</head>
<body>
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <a class="btn btn-primary" style="background-color: #708090" href="/contractor" role="button">Виконавці</a>
            <a class="btn btn-primary" style="background-color: #708090" href="/task" role="button">Завдання</a>
            <a class="btn btn-primary" sec:authorize="hasRole('CUSTOMER')" style="background-color: #708090"
               href="/customer/tasks" role="button">Кабінет</a>
            <a class="btn btn-primary" sec:authorize="isAuthenticated()" style="background-color: #708090"
               href="/logout" role="button">Log out</a>
            <a class="btn btn-primary" sec:authorize="isAnonymous()" style="background-color: #708090" href="/login"
               role="button">Login</a>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <a class="navbar-brand" style="color: white">
                Сервіс замовлення послуг
            </a>
        </button>
    </nav>
</div>
<div class="card">
    <img src="https://miro.medium.com/max/4000/1*8ygFKYb0Yo6Hc-vnScGA9A.png"
         style="width:100%">
    <br>
    <h3><b><span th:text="${task.getName()}"> </span>
    </b></h3>
    <p class="title">
        <span th:text="${task.getCategory().getName()}"></span>
    </p>
    <p>
        <span>Стан виконання: </span>
        <span th:text="${task.getIsDone()}"></span>
    </p>
    <p th:if="${!contractors.isEmpty()}">
        <span>Це завдання виконують: </span>
        <span th:each="contractor : ${contractors}">
            <a th:href="@{'/contractor/' + ${contractor.getId()} + '/show'}">
                <span th:text="${contractor.getName()}"> </span>
                <span th:text="${contractor.getSurname()}"> </span>
            </a>
        </span>

    </p>
    <p>
        <span>Ціна: </span>
        <span th:text="${task.getPrice()}"></span>
        <span> грн</span>
    </p>
    <p>
        <span>Дата виконання: </span>
        <span th:text="${task.getDate()}"></span>
    </p>
    <p>
        <span>Коротке описання: </span>
        <span th:text="${task.getShortDescription()}"></span>
    </p>
    <form method="post">
        <p><input sec:authorize="hasRole('CONTRACTOR')" type="submit" value="Взяти це завдання!" class="button"
                  th:if="${!task.getIsDone()}"/></p>
    </form>
</div>
</body>
</html>